In [10]:
import pandas as pd
import numpy as np
from dateutil.relativedelta import *
from datetime import date

In [37]:
df1 = pd.read_csv(r"C:\Users\tanis\Dropbox (Partners HealthCare)\NLP\BioBank\sd587_03212118253982866_6375194824947826181_Dem.csv ")
df2 = pd.read_csv(r"C:\Users\tanis\Dropbox (Partners HealthCare)\NLP\BioBank\sd587_03212118253982866_6375194824947826182_Dem.csv")

In [39]:
dob = df1["Date_of_Birth"].to_list()
age = df1["Age"].to_list()

dob2 = df2["Date_of_Birth"].to_list()
age2 = df2["Age"].to_list()

In [43]:
def calc_age(dob):
    birthday_list = dob.split("/")
    month = int(birthday_list[0])
    day = int(birthday_list[1])
    year = int(birthday_list[2])
    #print(month, "/", day, "/", year)
    today = date.today()
    birthdate = date(year, month, day) #year/month/day
    curr_age = relativedelta(today, birthdate)
    return curr_age.years

In [44]:
for i in range(len(dob)):
    age[i] = calc_age(dob[i])

for i in range(len(dob2)):
    age2[i] = calc_age(dob2[i])

In [45]:
df1["Age"] = age
df2["Age"] = age2

In [46]:
df1 = df1[df1["Age"] > 60]
df1.head()

,EMPI,EPIC_PMRN,MRN_Type,MRN,Gender,Date_of_Birth,Age,Language,Race,Marital_status,Religion,Is_a_veteran,Zip_code,Country,Vital_status,Date_Of_Death\n
0,100093996,1.002347e+10,"PMRN, MGH, BWH, NWH, MEE","10023471500, 2269408, 04235107, 00069879, 7069459",Female,05/16/1954,67,English-ENGLISH,White-WHITE,Married-MARRIED,Lutheran-LUTHERAN,No,02493,United States-UNITED STATES,Not reported as deceased,\n
2,100094940,1.004417e+10,"PMRN, MGH, BWH, FH, MEE","10044167335, 1104181, 40233769, 10255943, 1276075",Male,11/24/1954,66,English-ENGLISH,White-WHITE,Single-SINGLE,Catholic-CATHOLIC,No,02118,United States-UNITED STATES,Not reported as deceased,\n
3,100098036,1.004434e+10,"PMRN, MGH, BWH, FH, SRH, NWH, NSM, MEE, DFC","10044342664, 1127492, 30280366, 10321842, 0003...",Male,11/15/1931,89,English-ENGLISH,White-WHITE,Married-MARRIED,Catholic-CATHOLIC,Yes,02151,United States-UNITED STATES,Not reported as deceased,\n
5,100096548,1.004426e+10,"PMRN, MGH, BWH, SRH, NWH, MEE","10044257995, 1116935, 36907210, 100019046, 110...",Male,01/18/1950,71,English-ENGLISH,White-WHITE,Legally Separated-LEGALLY SEPARATED,Non-denominational-NON-DENOM,No,02155,United States-UNITED STATES,Date of Death reported from a Partners Hospital,08/04/2018\n
6,100091372,1.009348e+10,"PMRN, MGH, BWH, SRH, NWH, MEE","10093481918, 1075383, 30313902, 000390330, 108...",Male,07/10/1937,83,Unknown-UNKNOWN,White-WHITE,Married-MARRIED,Catholic-CATHOLIC,No,02339,United States-UNITED STATES,Not reported as deceased,\n

In [47]:
df2 = df2[df2["Age"] > 60]
df2.head()

,EMPI,EPIC_PMRN,MRN_Type,MRN,Gender,Date_of_Birth,Age,Language,Race,Marital_status,Religion,Is_a_veteran,Zip_code,Country,Vital_status,Date_Of_Death\n
3,100026773,1.004054e+10,"PMRN, MGH, BWH, FH, NWH, MCL, MEE, DFC","10040539099, 6512940, 02413078, 00325935, 1080...",Female,06/08/1947,73,English-ENGLISH,White-WHITE,Partner-PARTNER,Catholic-CATHOLIC,No,02131,United States-UNITED STATES,Not reported as deceased,\n
4,100026837,1.004054e+10,"PMRN, MGH, BWH, FH, NWH, DFC","10040540642, 2077063, 02415719, 00681742, 1135...",Female,11/21/1954,66,English-ENGLISH,White-WHITE,Married-MARRIED,Catholic-CATHOLIC,No,02131,United States-UNITED STATES,Not reported as deceased,\n
5,100035205,1.004081e+10,"PMRN, MGH, SRH, NWH, MEE","10040807363, 0429628, 000053998, 11012918, 919...",Male,07/24/1937,83,English-ENGLISH,White-WHITE,Married-MARRIED,Catholic-CATHOLIC,No,03827,United States-UNITED STATES,Not reported as deceased,\n
6,100011877,1.004017e+10,"PMRN, MGH, BWH, NWH, MEE, WDH","10040171711, 0145238, 03701026, 11339460, 9336...",Female,10/23/1937,83,English-ENGLISH,White-WHITE,Widowed-WIDOW,Catholic-CATHOLIC,No,02128,United States-UNITED STATES,Not reported as deceased,\n
7,100010989,1.004015e+10,"PMRN, MGH, BWH, MEE, DFC","10040149188, 4970036, 01363506, 1122360, 233531",Male,06/02/1934,81,English-ENGLISH,White-WHITE,Married-MARRIED,Protestant-PROTESTANT,No,02673,United States-UNITED STATES,Date of Death reported from a Partners Hospital,04/27/2016\n

In [48]:
df1.to_csv(r"C:\Users\tanis\OneDrive\Desktop\coding_projects\ScienceResearch\Sentence-Analysis\EDA\Getting_Data\Biobank_filtered_csv\file1.csv")
df2.to_csv(r"C:\Users\tanis\OneDrive\Desktop\coding_projects\ScienceResearch\Sentence-Analysis\EDA\Getting_Data\Biobank_filtered_csv\file2.csv")