In [4]:
import pandas as pd
import sqlite3

In [5]:
conn = sqlite3.connect(r"C:\Users\MIND_DS\Dropbox (Partners HealthCare)\NLP\Tanish\APOE-SLAT\nlp_annotator-dev\app\Previous-DBs\db_SD.sqlite3")

In [6]:
conn2 = sqlite3.connect(r"C:\Users\MIND_DS\Dropbox (Partners HealthCare)\NLP\Tanish\APOE-SLAT\nlp_annotator-dev\app\db.sqlite3")

In [61]:
users = pd.read_sql_query("SELECT * from auth_user", conn)

In [62]:
users

,id,password,last_login,is_superuser,username,last_name,email,is_staff,is_active,date_joined,Phone,AssignedPatients,Keywords,first_name
0,1,pbkdf2_sha256$260000$91I4vFc7yaJd2ftq4vfmFx$zt...,2021-07-24 02:36:41.079785,1,admin,,ANOORI1@mgh.harvard.edu,1,1,2021-07-24 00:25:49.702330,None,None,dementia,
1,2,pbkdf2_sha256$260000$3tO5QLciBkLQLhk4rfYLPY$su...,2021-07-24 00:37:04.689212,0,user1,,,0,1,2021-07-24 00:32:52.805454,None,None,dementia,
2,3,pbkdf2_sha256$260000$QrvKYgteY17wdiljkxKAMC$GT...,2021-07-24 02:37:48.814931,0,user2,,,0,1,2021-07-24 02:37:07.171330,None,None,dementia,

In [63]:
users2 = pd.read_sql_query("SELECT * from auth_user", conn2)

In [64]:
users.to_sql("auth_user", conn2, if_exists = "replace")

In [65]:
users2

,index,id,password,last_login,is_superuser,username,last_name,email,is_staff,is_active,date_joined,Phone,AssignedPatients,Keywords,first_name
0,0,1,pbkdf2_sha256$260000$91I4vFc7yaJd2ftq4vfmFx$zt...,2021-07-24 02:36:41.079785,1,admin,,ANOORI1@mgh.harvard.edu,1,1,2021-07-24 00:25:49.702330,None,None,dementia,
1,1,2,pbkdf2_sha256$260000$3tO5QLciBkLQLhk4rfYLPY$su...,2021-07-24 00:37:04.689212,0,user1,,,0,1,2021-07-24 00:32:52.805454,None,None,dementia,
2,2,3,pbkdf2_sha256$260000$QrvKYgteY17wdiljkxKAMC$GT...,2021-07-24 02:37:48.814931,0,user2,,,0,1,2021-07-24 02:37:07.171330,None,None,dementia,

In [36]:
always = pd.read_sql_query("SELECT * from gui_sentencealwaysregex", conn)
always2 = pd.read_sql_query("SELECT * from gui_sentencealwaysregex", conn2)

In [37]:
always.to_sql("gui_sentencealwaysregex", conn2, if_exists = "replace")

In [38]:
annotation = pd.read_sql_query("SELECT * from gui_sentenceannotation", conn)
annotation2 = pd.read_sql_query("SELECT * from gui_sentenceannotation", conn2)

In [39]:
annotation.to_sql("gui_sentenceannotation", conn2, if_exists = "replace")

In [67]:
assignment = pd.read_sql_query("SELECT * from gui_sentenceassignment", conn)
assignment2 = pd.read_sql_query("SELECT * from gui_sentenceassignment", conn2)

In [44]:
assignment.to_sql("gui_sentenceassignment", conn2, if_exists = "replace")

In [68]:
assignment2

      index    id                 CompletedAt  Sentence_id  User_id
0         0     1                        None            1        2
1         1     2  2021-07-24 02:59:40.237218            2        2
2         2     3                        None            3        2
3         3     4                        None            4        2
4         4     5                        None            5        2
...     ...   ...                         ...          ...      ...
3083   3083  3084  2021-07-24 03:25:48.166503         3084        3
3084   3084  3085  2021-07-24 03:43:21.040234         3085        3
3085   3085  3086  2021-07-24 03:44:02.374934         3086        3
3086   3086  3087  2021-07-24 03:44:24.349964         3087        3
3087   3087  3088  2021-07-24 03:44:41.676001         3088        3

[3088 rows x 5 columns]

In [9]:
always_regex = pd.read_sql_query("SELECT * from gui_alwaysregex", conn)
always_regex2 = pd.read_sql_query("SELECT * from gui_alwaysregex", conn2)

In [10]:
always_regex.to_sql("gui_alwaysregex", conn2, if_exists = "replace")

In [11]:
always_regex3 = pd.read_sql_query("SELECT * from gui_alwaysregex", conn2)

In [12]:
always_regex3

    index  id                           Pattern Annotation  CreatedBy_id
0       0   2                       MOCA.*22/30          Y             3
1       1   3           has memory difficulties          Y             3
2       2   4              poor.*working memory          Y             3
3       3   5                       MOCA.*28/30          Y             3
4       4   6       Reports.*short.term.*memory          Y             3
5       5   7           IMPRESSION.*Memory loss          Y             3
6       6   8                cognitive deficits          Y             3
7       7  10                       MOCA.*13/30          Y             3
8       8  12            No\s*memory\s*concerns          N             3
9       9  13       signs.*suspicious.*dementia          Y             3
10     10  14                   Memory:.*intact          N             3
11     11  15                    Memory.*intact          N             3
12     12  17          short-term memory intact          N             3
13     13  18       considering\s*MCI.*dementia          Y             3
14     14  19                         MoCA < 20          Y             3
15     15  20          decline.*mental\s*status          Y             3
16     16  21                   28/30.*on.*MOCA          N             3
17     17  22               has memory problems          Y             3
18     18  23           evidence of memory loss          Y             3
19     19  24                       MOCA.*15/30          Y             3
20     20  25        observed cognitive changes          Y             3
21     21  26                      Perform MOCA          T             3
22     22  27                      will do MoCA          T             3
23     23  28                    MOCA.*24\s*/30          Y             3
24     24  29     Father.*Alzheimer's\s*disease          T             3
25     25  30                 Father.*Alzheimer          T             3
26     26  31         FAMILY HISTORY.*Alzheimer          T             3
27     27  32       Maternal aunt had Alzheimer          T             3
28     28  33           Negative for.*Alzheimer          N             3
29     29  34  concern for hereditary Alzheimer          T             3
30     30  35                 family.*alzheimer          T             3
31     31  36      HISTORY: Alzheimer's disease          Y             3
32     32  37                    Namenda.*daily          Y             3
33     33  38             h/o moderate dementia          Y             3

In [13]:
conn.close()
conn2.close()