In [4]:
import pandas as pd
import pandas.io.sql as psql
import os
import sys
from datetime import date
current_date = date.today()
#%load_ext autotime
import re
import csv
import pandas as pd
import numpy as np
import os
from glob import glob
from tqdm import tqdm
import matplotlib.pyplot as plt
#from matplotlib_venn import venn2, venn3
import warnings
import time
import datetime as dt
import itertools
from more_itertools import unique_everseen
warnings.filterwarnings("ignore")
#import pandasql as ps
import seaborn as sns
import json
from ast import literal_eval
import ast

In [ ]:
total = pd.read_csv(r"C:\Users\MIND_DS\Dropbox (Partners HealthCare)\NLP\Tanish\BigDataSets\Regex_match\total_summary_stats_updated_7_6_2021.csv")

In [ ]:
total

In [ ]:
one = total[total["Unique_Encounters"] == 1]
head_100 = one[:100]

In [9]:
m1 = pd.read_csv(r"C:\Users\MIND_DS\Dropbox (Partners HealthCare)\NLP\Tanish\BigDataSets\Regex_match\1\Padded_Matches\apoe_1_not_padded_matches.csv")
m2 = pd.read_csv(r"C:\Users\MIND_DS\Dropbox (Partners HealthCare)\NLP\Tanish\BigDataSets\Regex_match\2\Padded_Matches\apoe_2_not_padded_matches.csv")
m3 = pd.read_csv(r"C:\Users\MIND_DS\Dropbox (Partners HealthCare)\NLP\Tanish\BigDataSets\Regex_match\3\Padded_Matches\apoe_3_not_padded_matches.csv")
m4 = pd.read_csv(r"C:\Users\MIND_DS\Dropbox (Partners HealthCare)\NLP\Tanish\BigDataSets\Regex_match\4\Padded_Matches\apoe_4_not_padded_matches.csv")
m5 = pd.read_csv(r"C:\Users\MIND_DS\Dropbox (Partners HealthCare)\NLP\Tanish\BigDataSets\Regex_match\5\Padded_Matches\apoe_5_not_padded_matches.csv")

In [10]:
frames = [m1, m2, m3, m4, m5]
merged = pd.concat(frames)

In [11]:
merged['note_char_count'] = merged['NoteTXT'].str.len()

In [12]:
merged.head()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,EMPI,MRN,PatientID,PatientEncounterID,ContactDTS,EncounterTypeDSC,...,regex_match,match_count,pruned_regex_location,merged_row_location,merged_regex_sent,merged_regex_match,sequence_level_regex_location,sequence_level_regex_match,char_count,note_char_count
0,7,7,25,25.0,100000272,10040002098,Z6352398,3.329631e+09,2020-11-20 00:00:00.0000000,Telemedicine - audio only,...,['cognition'],1,"[(100, 110)]","[(181, 390), (479, 688), (2048, 2269), (6184, ...","------- ial Source of info:? Patient, Chart Mo...","[' cognition', ' memory', ' cognitive impairme...","[(2661, 2669), (108, 117), (326, 335), (989, 9...","['dementia', 'cognition', 'memory', 'moca', 'c...",2760,14468
1,43,43,129,129.0,100001150,10027033512,Z6353136,3.085646e+09,2015-07-14 00:00:00.0000000,Hospital Encounter,...,['dementia'],1,"[(100, 109)]","[(1496, 1704), (2465, 2675), (4481, 4687), (54...",------- ory is obtained from patient and pt's ...,"[' dementia', ' memory', ' cerebellar']","[(108, 116), (1348, 1356), (1565, 1573), (544,...","['dementia', 'memory', 'cerebellar']",1869,17446
2,45,45,141,141.0,100001150,10027033512,Z6353136,3.114434e+09,2016-05-19 00:00:00.0000000,Office Visit,...,['Dementia'],1,"[(100, 109)]","[(245, 596), (1735, 2042), (2951, 3159)]",------- ed during the visit to clarify patient...,"[' cognition', ' dementia', ' cognitive impair...","[(108, 116), (251, 259), (784, 792), (566, 575...","['dementia', 'cognition', 'cognitive impairment']",886,4115
3,47,47,147,147.0,100001150,10027033512,Z6353136,3.121057e+09,2016-06-07 00:00:00.0000000,Hospital Encounter,...,['dementia'],1,"[(100, 109)]","[(128, 505), (5897, 6105), (9800, 10008)]",------- Hospital Emergency Department History...,[' dementia'],"[(108, 116), (277, 285), (494, 502)]",['dementia'],813,10901
4,50,50,153,153.0,100001150,10027033512,Z6353136,3.121057e+09,2016-06-07 00:00:00.0000000,Hospital Encounter,...,['dementia'],1,"[(100, 109)]","[(258, 466), (903, 1110), (1193, 1401), (5953,...",------- emale who presents with syncope. Ms. B...,"[' amnesia', ' dementia', ' memory']","[(108, 116), (541, 549), (1190, 1198), (758, 7...","['dementia', 'memory', 'amnesia']",1297,10025

In [13]:
m1_2 = pd.read_csv(r"C:\Users\MIND_DS\Dropbox (Partners HealthCare)\NLP\Tanish\BigDataSets\Regex_match\1\Padded_Matches\apoe_1_padded_matches.csv")
m2_2 = pd.read_csv(r"C:\Users\MIND_DS\Dropbox (Partners HealthCare)\NLP\Tanish\BigDataSets\Regex_match\2\Padded_Matches\apoe_2_padded_matches.csv")
m3_2 = pd.read_csv(r"C:\Users\MIND_DS\Dropbox (Partners HealthCare)\NLP\Tanish\BigDataSets\Regex_match\3\Padded_Matches\apoe_3_padded_matches.csv")
m4_2 = pd.read_csv(r"C:\Users\MIND_DS\Dropbox (Partners HealthCare)\NLP\Tanish\BigDataSets\Regex_match\4\Padded_Matches\apoe_4_padded_matches.csv")
m5_2 = pd.read_csv(r"C:\Users\MIND_DS\Dropbox (Partners HealthCare)\NLP\Tanish\BigDataSets\Regex_match\5\Padded_Matches\apoe_5_padded_matches.csv")

In [14]:
frames_2 = [m1_2, m2_2, m3_2, m4_2, m5_2]
merged_2 = pd.concat(frames_2)

In [15]:
merged_2['note_char_count'] = merged_2['NoteTXT'].str.len()

In [16]:
merged_2 = merged_2.drop(columns = ['sequence_level_regex_location', 'sequence_level_regex_match', 'char_count'])

In [17]:
merged_2.head()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,EMPI,MRN,PatientID,PatientEncounterID,ContactDTS,EncounterTypeDSC,...,regex_match,match_count,pruned_regex_location,merged_row_location,merged_regex_sent,merged_regex_match,padded_merged_row_location,padded_merged_regex_sent,padded_char_count,note_char_count
0,0,0,0,0.0,100000272,10040002098,Z6352398,3.076070e+09,2015-06-17 00:00:00.0000000,Office Visit,...,['cerebral'],1,"[(100, 109)]","[(5750, 5958)]",------- ncer. She passed secondary to this. He...,[' cerebral'],"(5457, 6251)",ked at HMS in the department of psychobiology ...,794,19217
1,1,1,1,1.0,100000272,10040002098,Z6352398,3.076214e+09,2015-07-16 00:00:00.0000000,Office Visit,...,['memory'],1,"[(100, 107)]","[(3543, 3749)]",------- a. Skin: No rashes or lesions. Neurolo...,[' memory'],"(3248, 4044)",or lymphadenopathy. Chest: Clear to auscultati...,796,5850
2,2,2,14,14.0,100000272,10040002098,Z6352398,3.242118e+09,2019-03-14 00:00:00.0000000,Office Visit,...,['dementia'],1,"[(100, 109)]","[(8641, 8849)]","------- ractures, obesity, insulin resistance,...",[' dementia'],"(8345, 9145)",ession alone in the meta-analysis. We discusse...,800,13298
3,3,3,15,15.0,100000272,10040002098,Z6352398,3.322836e+09,2020-12-04 00:00:00.0000000,Telemedicine - audio only,...,['MOCA'],1,"[(100, 105)]","[(948, 1152), (4778, 4987), (5004, 5331)]",------- accept for this week when he ran out ...,"[' moca', ' cognition', ' memory']","[(930, 1152), (4778, 4987), (5004, 5349)]",------- ing tylenol really accept for this we...,803,8711
4,4,4,20,20.0,100000272,10040002098,Z6352398,3.325561e+09,2020-09-18 00:00:00.0000000,Telemedicine - audio only,...,['cognition'],1,"[(100, 110)]","[(5367, 5576), (5593, 5812)]",------- ue Tylenol 1g q8 as needed - If pain w...,"[' cognition', ' memory']","[(5188, 5576), (5593, 5991)]",------- in is related to cancer. Reassuringly...,804,9145

In [18]:
merged.columns = merged.columns

In [19]:
merged['note_char_count'] = merged['NoteTXT'].str.len()

In [20]:
merged["padded_merged_regex_sent"] = merged["merged_regex_sent"]

In [21]:
merged.head()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,EMPI,MRN,PatientID,PatientEncounterID,ContactDTS,EncounterTypeDSC,...,match_count,pruned_regex_location,merged_row_location,merged_regex_sent,merged_regex_match,sequence_level_regex_location,sequence_level_regex_match,char_count,note_char_count,padded_merged_regex_sent
0,7,7,25,25.0,100000272,10040002098,Z6352398,3.329631e+09,2020-11-20 00:00:00.0000000,Telemedicine - audio only,...,1,"[(100, 110)]","[(181, 390), (479, 688), (2048, 2269), (6184, ...","------- ial Source of info:? Patient, Chart Mo...","[' cognition', ' memory', ' cognitive impairme...","[(2661, 2669), (108, 117), (326, 335), (989, 9...","['dementia', 'cognition', 'memory', 'moca', 'c...",2760,14468,"------- ial Source of info:? Patient, Chart Mo..."
1,43,43,129,129.0,100001150,10027033512,Z6353136,3.085646e+09,2015-07-14 00:00:00.0000000,Hospital Encounter,...,1,"[(100, 109)]","[(1496, 1704), (2465, 2675), (4481, 4687), (54...",------- ory is obtained from patient and pt's ...,"[' dementia', ' memory', ' cerebellar']","[(108, 116), (1348, 1356), (1565, 1573), (544,...","['dementia', 'memory', 'cerebellar']",1869,17446,------- ory is obtained from patient and pt's ...
2,45,45,141,141.0,100001150,10027033512,Z6353136,3.114434e+09,2016-05-19 00:00:00.0000000,Office Visit,...,1,"[(100, 109)]","[(245, 596), (1735, 2042), (2951, 3159)]",------- ed during the visit to clarify patient...,"[' cognition', ' dementia', ' cognitive impair...","[(108, 116), (251, 259), (784, 792), (566, 575...","['dementia', 'cognition', 'cognitive impairment']",886,4115,------- ed during the visit to clarify patient...
3,47,47,147,147.0,100001150,10027033512,Z6353136,3.121057e+09,2016-06-07 00:00:00.0000000,Hospital Encounter,...,1,"[(100, 109)]","[(128, 505), (5897, 6105), (9800, 10008)]",------- Hospital Emergency Department History...,[' dementia'],"[(108, 116), (277, 285), (494, 502)]",['dementia'],813,10901,------- Hospital Emergency Department History...
4,50,50,153,153.0,100001150,10027033512,Z6353136,3.121057e+09,2016-06-07 00:00:00.0000000,Hospital Encounter,...,1,"[(100, 109)]","[(258, 466), (903, 1110), (1193, 1401), (5953,...",------- emale who presents with syncope. Ms. B...,"[' amnesia', ' dementia', ' memory']","[(108, 116), (541, 549), (1190, 1198), (758, 7...","['dementia', 'memory', 'amnesia']",1297,10025,------- emale who presents with syncope. Ms. B...

In [49]:
frames3 = [merged, merged_2]
total = pd.concat(frames3)

In [50]:
len(total)

280100

In [51]:
total.head()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,EMPI,MRN,PatientID,PatientEncounterID,ContactDTS,EncounterTypeDSC,...,merged_row_location,merged_regex_sent,merged_regex_match,sequence_level_regex_location,sequence_level_regex_match,char_count,note_char_count,padded_merged_regex_sent,padded_merged_row_location,padded_char_count
0,7,7,25,25.0,100000272,10040002098,Z6352398,3.329631e+09,2020-11-20 00:00:00.0000000,Telemedicine - audio only,...,"[(181, 390), (479, 688), (2048, 2269), (6184, ...","------- ial Source of info:? Patient, Chart Mo...","[' cognition', ' memory', ' cognitive impairme...","[(2661, 2669), (108, 117), (326, 335), (989, 9...","['dementia', 'cognition', 'memory', 'moca', 'c...",2760.0,14468,"------- ial Source of info:? Patient, Chart Mo...",NaN,NaN
1,43,43,129,129.0,100001150,10027033512,Z6353136,3.085646e+09,2015-07-14 00:00:00.0000000,Hospital Encounter,...,"[(1496, 1704), (2465, 2675), (4481, 4687), (54...",------- ory is obtained from patient and pt's ...,"[' dementia', ' memory', ' cerebellar']","[(108, 116), (1348, 1356), (1565, 1573), (544,...","['dementia', 'memory', 'cerebellar']",1869.0,17446,------- ory is obtained from patient and pt's ...,NaN,NaN
2,45,45,141,141.0,100001150,10027033512,Z6353136,3.114434e+09,2016-05-19 00:00:00.0000000,Office Visit,...,"[(245, 596), (1735, 2042), (2951, 3159)]",------- ed during the visit to clarify patient...,"[' cognition', ' dementia', ' cognitive impair...","[(108, 116), (251, 259), (784, 792), (566, 575...","['dementia', 'cognition', 'cognitive impairment']",886.0,4115,------- ed during the visit to clarify patient...,NaN,NaN
3,47,47,147,147.0,100001150,10027033512,Z6353136,3.121057e+09,2016-06-07 00:00:00.0000000,Hospital Encounter,...,"[(128, 505), (5897, 6105), (9800, 10008)]",------- Hospital Emergency Department History...,[' dementia'],"[(108, 116), (277, 285), (494, 502)]",['dementia'],813.0,10901,------- Hospital Emergency Department History...,NaN,NaN
4,50,50,153,153.0,100001150,10027033512,Z6353136,3.121057e+09,2016-06-07 00:00:00.0000000,Hospital Encounter,...,"[(258, 466), (903, 1110), (1193, 1401), (5953,...",------- emale who presents with syncope. Ms. B...,"[' amnesia', ' dementia', ' memory']","[(108, 116), (541, 549), (1190, 1198), (758, 7...","['dementia', 'memory', 'amnesia']",1297.0,10025,------- emale who presents with syncope. Ms. B...,NaN,NaN

In [102]:
k = regex["REGEX"].to_list()
c = regex["CASE"].to_list()
p_list = []

for i in range(len(k)):
    if (c[i] == 0):
        p_list.append(re.compile(k[i][5:], re.IGNORECASE))
    elif (c[i] == 1):
        p_list.append(re.compile(k[i]))
print(p_list)

[re.compile('\\bdementia\\b', re.IGNORECASE), re.compile('\\bcognition\\b', re.IGNORECASE), re.compile('\\bmemory\\b', re.IGNORECASE), re.compile('\\bMMSE\\b', re.IGNORECASE), re.compile('\\bMOCA\\b', re.IGNORECASE), re.compile('\\bAlzheimer\\b', re.IGNORECASE), re.compile('\\bcognitive\\s*impairment\\b', re.IGNORECASE), re.compile('(?-i:)\\bMCI\\b'), re.compile('\\bcerebellar\\b', re.IGNORECASE), re.compile('\\bNeurocognitive\\b', re.IGNORECASE), re.compile('\\blewy\\b', re.IGNORECASE), re.compile("\\bpick's\\b", re.IGNORECASE), re.compile('\\bCorticobasal\\b', re.IGNORECASE), re.compile('\\bcerebral\\b', re.IGNORECASE), re.compile('\\bcerebrovascular\\b', re.IGNORECASE), re.compile('\\bamnesia\\b', re.IGNORECASE), re.compile('(?-i:)\\bAD\\b'), re.compile('(?-i:)\\bLBD\\b')]

In [103]:
l = []
for note in tqdm(total["padded_merged_regex_sent"]):
    curr = []
    for p in (p_list):
        m = list(set(re.findall(p, note)))
        m = list(set(map(str.lower, m)))
        if (m != []):
            curr.append("".join(m))
    #print(curr)
    #print(l)
    l.append(str(curr))

total["padded_regex_match"] = l

100%|████████████████████████████████████████████████████████████████████████| 280100/280100 [03:00<00:00, 1553.29it/s]

In [109]:
total.head()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,EMPI,MRN,PatientID,PatientEncounterID,ContactDTS,EncounterTypeDSC,...,match_count,pruned_regex_location,merged_row_location,merged_regex_sent,merged_regex_match,padded_merged_row_location,padded_merged_regex_sent,padded_char_count,note_char_count,padded_regex_match
0,7,7,25,25.0,100000272,10040002098,Z6352398,3.329631e+09,2020-11-20 00:00:00.0000000,Telemedicine - audio only,...,1,"[(100, 110)]","[(181, 390), (479, 688), (2048, 2269), (6184, ...","------- ial Source of info:? Patient, Chart Mo...","[' cognition', ' memory', ' cognitive impairme...","[(2661, 2669), (108, 117), (326, 335), (989, 9...","------- ial Source of info:? Patient, Chart Mo...",2760,14468,"['dementia', 'cognition', 'memory', 'moca', 'c..."
1,43,43,129,129.0,100001150,10027033512,Z6353136,3.085646e+09,2015-07-14 00:00:00.0000000,Hospital Encounter,...,1,"[(100, 109)]","[(1496, 1704), (2465, 2675), (4481, 4687), (54...",------- ory is obtained from patient and pt's ...,"[' dementia', ' memory', ' cerebellar']","[(108, 116), (1348, 1356), (1565, 1573), (544,...",------- ory is obtained from patient and pt's ...,1869,17446,"['dementia', 'memory', 'cerebellar']"
2,45,45,141,141.0,100001150,10027033512,Z6353136,3.114434e+09,2016-05-19 00:00:00.0000000,Office Visit,...,1,"[(100, 109)]","[(245, 596), (1735, 2042), (2951, 3159)]",------- ed during the visit to clarify patient...,"[' cognition', ' dementia', ' cognitive impair...","[(108, 116), (251, 259), (784, 792), (566, 575...",------- ed during the visit to clarify patient...,886,4115,"['dementia', 'cognition', 'cognitive impairment']"
3,47,47,147,147.0,100001150,10027033512,Z6353136,3.121057e+09,2016-06-07 00:00:00.0000000,Hospital Encounter,...,1,"[(100, 109)]","[(128, 505), (5897, 6105), (9800, 10008)]",------- Hospital Emergency Department History...,[' dementia'],"[(108, 116), (277, 285), (494, 502)]",------- Hospital Emergency Department History...,813,10901,['dementia']
4,50,50,153,153.0,100001150,10027033512,Z6353136,3.121057e+09,2016-06-07 00:00:00.0000000,Hospital Encounter,...,1,"[(100, 109)]","[(258, 466), (903, 1110), (1193, 1401), (5953,...",------- emale who presents with syncope. Ms. B...,"[' amnesia', ' dementia', ' memory']","[(108, 116), (541, 549), (1190, 1198), (758, 7...",------- emale who presents with syncope. Ms. B...,1297,10025,"['dementia', 'memory', 'amnesia']"

In [52]:
unique_empi = total["EMPI"].unique()
unique_empi = list(unique_empi)
len(unique_empi)

16465

In [105]:
cols =  ['dementia', 'cognition', 'memory', 'mmse', 'moca', 'alzheimer', 'cognitive impairment', 'mci', 'cerebellar', 'neurocognitive', 'lewy', "pick's",  'corticobasal', 'cerebral', 'cerebrovascular', 'amnesia', 'ad', 'lbd']
len(cols)

18

In [106]:
summary_stats  = pd.DataFrame(pd.np.empty((len(unique_ids), len(cols))) * pd.np.nan) 
summary_stats.columns = cols

In [107]:
summary_stats

,dementia,cognition,memory,mmse,moca,alzheimer,cognitive impairment,mci,cerebellar,neurocognitive,lewy,pick's,corticobasal,cerebral,cerebrovascular,amnesia,ad,lbd
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16460,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16461,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16462,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16463,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16464,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [115]:
total[total["PatientID"] == unique_ids[2140]]["padded_regex_match"].to_list()

["['cognition', 'memory', 'alzheimer', 'neurocognitive']",
 "['dementia', 'cognition', 'memory', 'alzheimer', 'cognitive impairment', 'neurocognitive']",
 "['dementia', 'cognition', 'memory', 'alzheimer', 'cognitive impairment', 'neurocognitive']",
 "['dementia', 'cognition', 'memory', 'alzheimer', 'cognitive impairment', 'neurocognitive']",
 "['dementia', 'cognition', 'memory', 'alzheimer', 'cognitive impairment', 'neurocognitive']",
 "['dementia', 'cognition', 'memory', 'alzheimer', 'cognitive impairment', 'neurocognitive']",
 "['dementia', 'cognition', 'memory', 'alzheimer', 'cognitive impairment', 'neurocognitive']",
 "['cognition', 'memory', 'alzheimer', 'cognitive impairment', 'mci', 'neurocognitive']",
 "['dementia', 'cognition', 'memory', 'alzheimer', 'cognitive impairment', 'neurocognitive']",
 "['dementia', 'cognition', 'memory', 'alzheimer', 'cognitive impairment', 'neurocognitive']",
 "['dementia', 'cognition', 'memory', 'alzheimer', 'cognitive impairment', 'neurocognitive']",
 "['dementia', 'cognition', 'memory', 'alzheimer', 'cognitive impairmentcognitiveimpairment', 'neurocognitive']",
 "['dementia', 'cognition', 'memory', 'alzheimer', 'cognitive impairmentcognitiveimpairment', 'neurocognitive']",
 "['memory', 'alzheimer', 'cognitive impairment', 'mci']",
 "['memory', 'alzheimer', 'cognitive impairment', 'mci']",
 "['dementia', 'cognition', 'memory', 'alzheimer', 'cognitive impairmentcognitiveimpairment', 'mci', 'neurocognitive']",
 "['dementia', 'cognition', 'memory', 'alzheimer', 'cognitive impairmentcognitiveimpairment', 'mci', 'neurocognitive']",
 "['memory']",
 "['memory', 'alzheimer']",
 "['memory', 'alzheimer']",
 "['memory', 'ad']",
 "['memory']",
 "['memory']",
 "['dementia', 'memory']",
 "['dementia', 'cognitive impairment']",
 "['memory']"]

In [132]:
x = total[total["PatientID"] == unique_ids[2140]]
x["padded_merged_regex_sent"][577]

"------- ---------------------------------------------------------------------------------------02/16/2021 ? MEMORY DISORDERS UNIT ?????????????????????? TELEMEDICINE VIDEO VISIT ? ?????????????????????? CHRISTINA K -------  ???????????????????????This patient is a 71 year-old right-handed female with an 9 year history of memory loss and mood changes. She first came to this clinic referred by her PCP for an evaluation in 2014. My clinical impression at her last visit, 6 months ago, was Mild CognitiveImpairment, CDR=0.5 (suspected contributors to cognitive weaknesses continue to be rooted in effects of chronic gen ------- ith her husband for follow-up.She was last seen in this clinic in June 2020. ????????? Mrs. Keating cognition was fine up until about 9 years ago when they first noticed, with a slow onset and a progressive course, short-term memory loss. At that time, her most salient symptoms were difficulties to remember recent fragments of con ------- ially attributed to stressors like her Dad’s death and her Mom’s condition (she suffered late onset dementia), slowly progressed over time. She became more dependent on the calendar and needed to write everyt ------- ontinence. No other neurological or systemic symptoms are reported. ?????????Overall, she feels her cognition and, in particular, her short-term memory has further declined during this past year. This coincided in time with worsening of her depressive symptoms. The patient continues to be “very worried about the possibility of developing Alzheimer’s disease just like her Mom did”. At her last visit, 6 months ago, her husband corroborated that sh ------- has an upcoming follow-up visit. Over the past 6 months her husband feels that patient's short term memory has continued to slowly decline. He has also noticed some increased word-finding difficulties and m ------- ikely these executive-based weaknesses that account for her subjective cognitive concerns regarding memory rather than an amnestic process. With regard to etiology, mild executive weaknesses are commonly se ------- rofile at this time is not consistent with the typical pattern of impairments seen in patients with cortical neurodegenerative syndromes such as Alzheimer’s disease. ?? NPS EVALUATION (2016): Results of formal testing indicate an overall stable neurocognitive profile with some scattered improvement and reduction in scores across domains. Her profile continu ------- eas of continued weakness within the domain of attention and executive functioning that also impact memory functioning. Weaknesses were again seen on measures requiring speeded mental flexibility and set-ma ------- g and subsequent recalls, but there was no meaningful loss of information noted over time and her recognition memory was strong and accurate. A similar pattern of encoding and retrieval difficulties was again seen on ------- k (HVLT-R) and performance here was overall stable relative to prior testing. Performances on other memory measures, including her ability to learn, recall and recognize limited contextual information (ACE-R Address) as well as on a challenging associative learning task that is particularly sensitive to memory storage problems (Free and Cued SRT) were entirely normal. Attention and working memory scores were somewhat reduced relative to prior testing, but remain solidly within the average range -------  fluent and comprehension is preserved. No agnosias or apraxias. ?????????CLINICAL IMPRESSION: Mild Cognitive Impairment, CDR=0.5. ?????? ?It is suspected that the contributors to cognitive weaknesses continue to be rooted"

In [131]:
x["padded_regex_match"][577]

"['dementia', 'cognition', 'memory', 'alzheimer', 'cognitive impairmentcognitiveimpairment', 'neurocognitive']"

In [135]:
for i in tqdm(range(len(unique_ids))):
    keyword_list = list((total[total['PatientID'] == unique_ids[i]]['padded_regex_match'].values))
    #print("KL: ", keyword_list)
    match_tuples = []
    for j in range(len(keyword_list)):
        sub = "\', \'"
        x = list(eval(keyword_list[j]))# [2:len(keyword_list[j])-2]
        #print("X: ", x)
#         if sub in x:
#             #print("YES")
#             x = x.split("\', \'")
#             #print("X2: ", x)
#         else:
#             x = x.split("\", \"")
        for z in range(len(x)):
            match_tuples.append((x[z], 0))
    #print("MT: ", match_tuples)

    freq = {"dementia":0
        ,"cognition":0
        ,"cognition":0
        ,"memory":0
        ,"mmse":0
        ,"moca":0
        ,"alzheimer":0
        ,'cognitive impairment':0
        ,"mci":0
        ,"cerebellar":0
        ,"neurocognitive":0
        ,"lewy":0
        ,"pick's":0
        ,"corticobasal":0
        ,"cerebral":0
        ,"cerebrovascular":0
        ,"amnesia":0
        ,"ad": 0
        ,"lbd": 0
    }

    for k, v in match_tuples:   
        if (k != ''):
            if (k == 'cognitive impairmentcognitiveimpairment'):
                k = 'cognitive impairment'
                freq.update({str(k.lower()):int(freq[k.lower()] + 1)})
            else:
                freq.update({str(k.lower()):int(freq[k.lower()] + 1)})
            
    #print(freq.items())
    #print(summary_stats["dementia"])
    for k, v in freq.items():
        #print(str(k.lower()))
        summary_stats[str(k.lower())][i] = int(v)

100%|████████████████████████████████████████████████████████████████████████████| 16465/16465 [09:33<00:00, 28.69it/s]

In [136]:
summary_stats

,dementia,cognition,memory,mmse,moca,alzheimer,cognitive impairment,mci,cerebellar,neurocognitive,lewy,pick's,corticobasal,cerebral,cerebrovascular,amnesia,ad,lbd
0,2.0,4.0,7.0,0.0,3.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,40.0,7.0,2.0,0.0,0.0,0.0,4.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,12.0,1.0,0.0,0.0
2,0.0,6.0,37.0,0.0,7.0,0.0,7.0,0.0,4.0,2.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0
3,4.0,8.0,3.0,0.0,4.0,0.0,5.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,6.0,6.0,6.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,4.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16460,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16461,0.0,4.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16462,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
16463,0.0,7.0,7.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
16464,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [137]:
summary_stats.to_csv(r"C:\Users\MIND_DS\Dropbox (Partners HealthCare)\NLP\Tanish\BigDataSets\Regex_match\totals_FINAL_7:13.csv")

## Getting # of Unique Encounters Per EMPI

In [302]:
summary_stats["encounter_count"] = [0] * len(unique_empi)

In [304]:
for i in tqdm(range(len(unique_empi))):
    query = merged_2[merged_2["EMPI"] == unique_empi[i]]
    summary_stats["encounter_count"][i] = len(query)

100%|███████████████████████████████████████████████████████████████████████████| 16465/16465 [00:32<00:00, 514.08it/s]

In [305]:
summary_stats["EMPI"] = unique_empi

In [306]:
summary_stats.head()

,dementia,cognition,memory,mmse,moca,alzheimer,cognitive impairment,mci,cerebellar,neurocognitive,lewy,pick's,corticobasal,cerebral,cerebrovascular,amnesia,ad,lbd,encounter_count,EMPI
0,2.0,4.0,7.0,0.0,3.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,8,100000272
1,40.0,7.0,2.0,0.0,0.0,0.0,4.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,12.0,1.0,0.0,0.0,35,100001150
2,0.0,6.0,37.0,0.0,7.0,0.0,7.0,0.0,4.0,2.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,32,100001768
3,4.0,8.0,3.0,0.0,4.0,0.0,5.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5,100002288
4,6.0,6.0,6.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,4.0,1.0,0.0,0.0,0.0,12,100002702

In [307]:
summary_stats.to_csv(r"C:\Users\MIND_DS\Dropbox (Partners HealthCare)\NLP\Tanish\BigDataSets\Regex_match\totals_everything.csv")

In [ ]:
totals = pd.read_excel(r"C:\Users\MIND_DS\Dropbox (Partners HealthCare)\NLP\Tanish\BigDataSets\Regex_match\100_patients_verification.xlsx", sheet_name = "Sheet1", index_col = 0)

In [58]:
len(totals["PatientEncounterID"].unique())

In [ ]:
len(totals["merged_regex_sent"].unique())

## Compiling Table 1

In [24]:
regex = pd.read_csv(r"C:\Users\MIND_DS\Dropbox (Partners HealthCare)\NLP\Tanish\APOE-SLAT\EDA\Getting_Data\keywords.csv")

In [25]:
len(regex)

18

In [41]:
keywords = pd.DataFrame(pd.np.empty((len(regex), 2)) * pd.np.nan)

In [43]:
keywords.columns = ["keyword", "match_count"]

In [47]:
keywords["keyword"] = summary_stats.columns
keywords["match_count"] = [36301, 73923, 82148, 5131, 3876, 13353, 11722, 1758, 18311, 3095, 1431, 23, 48, 33640, 22099, 2686, 705, 53]

In [48]:
keywords

                 keyword  match_count
0               dementia        36301
1              cognition        73923
2                 memory        82148
3                   mmse         5131
4                   moca         3876
5              alzheimer        13353
6   cognitive impairment        11722
7                    mci         1758
8             cerebellar        18311
9         neurocognitive         3095
10                  lewy         1431
11                pick's           23
12          corticobasal           48
13              cerebral        33640
14       cerebrovascular        22099
15               amnesia         2686
16                    ad          705
17                   lbd           53

In [51]:
keywords.to_excel(r"C:\Users\MIND_DS\Dropbox (Partners HealthCare)\NLP\Tanish\BigDataSets\Regex_match\FINAL\keywords.xlsx")

In [28]:
dem1 = pd.read_csv(r"C:\Users\MIND_DS\Dropbox (Partners HealthCare)\NLP\BioBank\sd587_03212118253982866_6375194824947826181_Dem.csv")

In [29]:
dem1.head()

,EMPI,EPIC_PMRN,MRN_Type,MRN,Gender,Date_of_Birth,Age,Language,Race,Marital_status,Religion,Is_a_veteran,Zip_code,Country,Vital_status,Date_Of_Death\n
0,100093996,1.002347e+10,"PMRN, MGH, BWH, NWH, MEE","10023471500, 2269408, 04235107, 00069879, 7069459",Female,5/16/1954,66,English-ENGLISH,White-WHITE,Married-MARRIED,Lutheran-LUTHERAN,No,2493,United States-UNITED STATES,Not reported as deceased,\n
1,100094956,1.004417e+10,"PMRN, MGH, BWH, NWH, MEE","10044168093, 2990241, 04258836, 11072100, 1059154",Male,6/6/1961,59,English-ENGLISH,White-WHITE,Single-SINGLE,Catholic-CATHOLIC,No,2150,United States-UNITED STATES,Not reported as deceased,\n
2,100094940,1.004417e+10,"PMRN, MGH, BWH, FH, MEE","10044167335, 1104181, 40233769, 10255943, 1276075",Male,11/24/1954,66,English-ENGLISH,White-WHITE,Single-SINGLE,Catholic-CATHOLIC,No,2118,United States-UNITED STATES,Not reported as deceased,\n
3,100098036,1.004434e+10,"PMRN, MGH, BWH, FH, SRH, NWH, NSM, MEE, DFC","10044342664, 1127492, 30280366, 10321842, 0003...",Male,11/15/1931,89,English-ENGLISH,White-WHITE,Married-MARRIED,Catholic-CATHOLIC,Yes,2151,United States-UNITED STATES,Not reported as deceased,\n
4,100096100,1.004423e+10,"PMRN, MGH, BWH, FH, MEE","10044233715, 6306789, 04288601, 01264168, 1081763",Female,7/16/1965,55,English-ENGLISH,Not Recorded-DECLINED,Single-SINGLE,Christian-CHRISTIAN,No,2121,United States-UNITED STATES,Not reported as deceased,\n

In [30]:
dem2 = pd.read_csv(r"C:\Users\MIND_DS\Dropbox (Partners HealthCare)\NLP\BioBank\sd587_03212118253982866_6375194824947826182_Dem.csv")

In [33]:
file1 = pd.read_csv(r"C:\Users\MIND_DS\Dropbox (Partners HealthCare)\NLP\Tanish\APOE-SLAT\EDA\Getting_Data\Biobank_filtered_csv\file1.csv")
file2 = pd.read_csv(r"C:\Users\MIND_DS\Dropbox (Partners HealthCare)\NLP\Tanish\APOE-SLAT\EDA\Getting_Data\Biobank_filtered_csv\file2.csv")

In [34]:
dem = pd.concat([file1, file2])

In [35]:
dem = dem[['EMPI', 'Age']]
dem.head()

        EMPI  Age
0  100093996   67
1  100094940   66
2  100098036   89
3  100096548   71
4  100091372   83

In [36]:
bib1 = pd.read_csv(r"C:\Users\MIND_DS\Dropbox (Partners HealthCare)\NLP\BioBank\sd587_03212118253982866_6375194824947826182_Bib.csv")

In [37]:
bib2 = pd.read_csv(r"C:\Users\MIND_DS\Dropbox (Partners HealthCare)\NLP\BioBank\sd587_03212118253982866_6375194824947826181_Bib.csv")

In [38]:
bib1.head()

,Registry_Name,Subject_Id,EMPI,EPIC_PMRN,MGH_MRN,BWH_MRN,FH_MRN,SRH_MRN,NWH_MRN,NSMC_MRN,MCL_MRN,MEE_MRN,DFC_MRN,WDH_MRN\n
0,Biobank,10022676,110721159,1.010214e+10,5402830.0,42201913.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,\n
1,Biobank,10059425,112431912,1.011928e+10,5881337.0,NaN,NaN,NaN,NaN,10765011.0,224827.0,NaN,NaN,\n
2,Biobank,10064690,112496560,1.011983e+10,5972900.0,34121467.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,\n
3,Biobank,10071889,113045896,1.012156e+10,6060921.0,NaN,NaN,NaN,11149448.0,NaN,NaN,NaN,NaN,\n
4,Biobank,10040671,110985976,1.010450e+10,5649304.0,30645048.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,\n

In [39]:
bib2.head()

,Registry_Name,Subject_Id,EMPI,EPIC_PMRN,MGH_MRN,BWH_MRN,FH_MRN,SRH_MRN,NWH_MRN,NSMC_MRN,MCL_MRN,MEE_MRN,DFC_MRN,WDH_MRN\n
0,Biobank,10070716,107184291,1.003113e+10,3512141.0,29632890.0,1306256.0,NaN,10356542.0,NaN,NaN,7621981.0,NaN,\n
1,Biobank,10060295,107092651,1.006235e+10,5953387.0,27702232.0,NaN,NaN,NaN,NaN,NaN,NaN,596421.0,\n
2,Biobank,10030565,107248715,1.006887e+10,6362516.0,28084887.0,NaN,NaN,NaN,10494629.0,NaN,NaN,NaN,\n
3,Biobank,10034983,107377411,1.003052e+10,5887395.0,NaN,NaN,NaN,395139.0,NaN,NaN,9414562.0,NaN,\n
4,Biobank,10038244,107494211,1.007376e+10,NaN,20961207.0,10149866.0,381049.0,NaN,NaN,NaN,9553597.0,628878.0,\n

In [40]:
bib = pd.concat([bib1, bib2])
bib = bib[["Subject_Id", "EMPI"]]

In [41]:
bib.head()

   Subject_Id       EMPI
0    10022676  110721159
1    10059425  112431912
2    10064690  112496560
3    10071889  113045896
4    10040671  110985976

In [42]:
len(bib["EMPI"].unique())

37793

In [43]:
apoe = pd.read_csv(r"C:\Users\MIND_DS\Dropbox (Partners HealthCare)\NLP\BioBank\Partners_biobank_APOE_nodup.csv")
apoe.columns

Index(['subject_id', 'Gender', 'Age', 'Race', 'Ethnicity', 'Vital Status',
       'array_mega', 'array_meg', 'array_gsa', 'array_mega_ex',
       'Affection.Status', 'fa_had_AD', 'mo_had_AD', 'sib_had_AD', 'rs7412_T',
       'rs429358_C', 'APOE', 'EMPI', 'DOB', 'Age.1', 'Vital_Status',
       'APOE_dosage', 'AD status'],
      dtype='object')

In [45]:
apoe.head()

,subject_id,Gender,Age,Race,Ethnicity,Vital Status,array_mega,array_meg,array_gsa,array_mega_ex,...,sib_had_AD,rs7412_T,rs429358_C,APOE,EMPI,DOB,Age.1,Vital_Status,APOE_dosage,AD status
0,10000015,F,75.0,Black,Non-Hispanic,Deceased,No,Yes,No,No,...,No,0,0,e3/e3,NaN,NaN,NaN,NaN,NaN,NaN
1,10000042,F,49.0,White,Non-Hispanic,Living,No,Yes,No,No,...,No,0,0,e3/e3,NaN,NaN,NaN,NaN,NaN,NaN
2,10000045,F,74.0,White,Non-Hispanic,Deceased,No,Yes,No,No,...,No,0,0,e3/e3,NaN,NaN,NaN,NaN,NaN,NaN
3,10000046,M,75.0,White,Non-Hispanic,Deceased,No,Yes,No,No,...,No,0,0,e3/e3,NaN,NaN,NaN,NaN,NaN,NaN
4,10000048,F,66.0,White,Non-Hispanic,Living,No,Yes,No,No,...,No,1,0,e2/e3,NaN,NaN,NaN,NaN,NaN,NaN

In [53]:
empi = pd.DataFrame(unique_empi)
empi.columns = ['EMPI']

In [54]:
empi.head()

        EMPI
0  100000272
1  100001150
2  100001768
3  100002288
4  100002702

In [55]:
empi = pd.merge(empi, dem, left_on = 'EMPI', right_on = 'EMPI', how = 'left')

In [56]:
empi.head()

        EMPI  Age
0  100000272   87
1  100001150   95
2  100001768   73
3  100002288   98
4  100002702   74

In [57]:
dem[dem['EMPI'] == 100001150]

           EMPI  Age
7409  100001150   95

In [58]:
empi = pd.merge(empi, bib, left_on = 'EMPI', right_on = 'EMPI', how = 'left')

In [59]:
len(empi)

16465

In [60]:
apoe.columns = ['Subject_Id', 'Gender', 'Age', 'Race', 'Ethnicity', 'Vital Status',
       'array_mega', 'array_meg', 'array_gsa', 'array_mega_ex',
       'Affection.Status', 'fa_had_AD', 'mo_had_AD', 'sib_had_AD', 'rs7412_T',
       'rs429358_C', 'APOE', 'EMPI', 'DOB', 'Age.1', 'Vital_Status',
       'APOE_dosage', 'AD status']

In [81]:
apoe.head()

,Subject_Id,Gender,Age,Race,Ethnicity,Vital Status,array_mega,array_meg,array_gsa,array_mega_ex,...,sib_had_AD,rs7412_T,rs429358_C,APOE,EMPI,DOB,Age.1,Vital_Status,APOE_dosage,AD status
0,10000015,F,75.0,Black,Non-Hispanic,Deceased,No,Yes,No,No,...,No,0,0,e3/e3,NaN,NaN,NaN,NaN,NaN,NaN
1,10000042,F,49.0,White,Non-Hispanic,Living,No,Yes,No,No,...,No,0,0,e3/e3,NaN,NaN,NaN,NaN,NaN,NaN
2,10000045,F,74.0,White,Non-Hispanic,Deceased,No,Yes,No,No,...,No,0,0,e3/e3,NaN,NaN,NaN,NaN,NaN,NaN
3,10000046,M,75.0,White,Non-Hispanic,Deceased,No,Yes,No,No,...,No,0,0,e3/e3,NaN,NaN,NaN,NaN,NaN,NaN
4,10000048,F,66.0,White,Non-Hispanic,Living,No,Yes,No,No,...,No,1,0,e2/e3,NaN,NaN,NaN,NaN,NaN,NaN

In [61]:
empi.columns

Index(['EMPI', 'Age', 'Subject_Id'], dtype='object')

In [62]:
empi = pd.merge(empi, apoe, left_on = 'Subject_Id', right_on = 'Subject_Id', how = 'left')

In [63]:
empi.head()

,EMPI_x,Age_x,Subject_Id,Gender,Age_y,Race,Ethnicity,Vital Status,array_mega,array_meg,...,sib_had_AD,rs7412_T,rs429358_C,APOE,EMPI_y,DOB,Age.1,Vital_Status,APOE_dosage,AD status
0,100000272,87,10042180,M,87.0,Black,Non-Hispanic,Living,No,Yes,...,No,0.0,0.0,e3/e3,NaN,NaN,NaN,NaN,NaN,NaN
1,100001150,95,10037423,F,91.0,Black,Non-Hispanic,Deceased,No,Yes,...,No,0.0,0.0,e3/e3,NaN,NaN,NaN,NaN,NaN,NaN
2,100001768,73,10053858,M,73.0,Black,Non-Hispanic,Living,No,Yes,...,No,0.0,1.0,e3/e4,NaN,NaN,NaN,NaN,NaN,NaN
3,100002288,98,10004537,M,98.0,White,Non-Hispanic,Deceased,No,No,...,No,0.0,0.0,e3/e3,NaN,NaN,NaN,NaN,NaN,NaN
4,100002702,74,10119609,M,73.0,Black,Non-Hispanic,Living,No,No,...,No,0.0,0.0,e3/e3,NaN,NaN,NaN,NaN,NaN,NaN

In [85]:
empi["Vital_Status"].value_counts()

Living      14297
Deceased     2131
Name: Vital_Status, dtype: int64

In [65]:
empi = empi.drop(['Age_y', 'EMPI_y', 'Age.1', 'Vital_Status'], axis = 1)

In [66]:
empi.columns = ['EMPI', 'Age', 'Subject_Id', 'Gender', 'Race', 'Ethnicity',
       'Vital_Status', 'array_mega', 'array_meg', 'array_gsa', 'array_mega_ex',
       'Affection.Status', 'fa_had_AD', 'mo_had_AD', 'sib_had_AD', 'rs7412_T',
       'rs429358_C', 'APOE', 'DOB', 'APOE_dosage', 'AD status']

In [67]:
len(empi)

16465

In [68]:
len(unique_empi)

16465

In [277]:
## verifiying that data for all empis are found
for i in unique_empi:
    query = empi[empi["EMPI"] == i]
    if (len(query) != 1):
        print(i)

In [280]:
empi.head()

,EMPI,Age,Subject_Id,Gender,Race,Ethnicity,Vital_Status,array_mega,array_meg,array_gsa,...,Affection.Status,fa_had_AD,mo_had_AD,sib_had_AD,rs7412_T,rs429358_C,APOE,DOB,APOE_dosage,AD status
0,100000272,87,10042180,M,Black,Non-Hispanic,Living,No,Yes,No,...,0.0,No,No,No,0.0,0.0,e3/e3,NaN,NaN,NaN
1,100001150,95,10037423,F,Black,Non-Hispanic,Deceased,No,Yes,No,...,0.0,No,No,No,0.0,0.0,e3/e3,NaN,NaN,NaN
2,100001768,73,10053858,M,Black,Non-Hispanic,Living,No,Yes,No,...,0.0,No,No,No,0.0,1.0,e3/e4,NaN,NaN,NaN
3,100002288,98,10004537,M,White,Non-Hispanic,Deceased,No,No,No,...,0.0,No,No,No,0.0,0.0,e3/e3,NaN,NaN,NaN
4,100002702,74,10119609,M,Black,Non-Hispanic,Living,No,No,Yes,...,0.0,No,No,No,0.0,0.0,e3/e3,NaN,NaN,NaN

In [74]:
empi.to_csv(r"C:\Users\MIND_DS\Dropbox (Partners HealthCare)\NLP\Tanish\BigDataSets\Regex_match\FINAL\empi_dataset.csv")

In [73]:
empi["APOE"].isna().sum()

37

In [77]:
empi["Ethnicity"].value_counts()

Non-Hispanic    16053
Hispanic          375
Name: Ethnicity, dtype: int64

In [86]:
apoe[apoe["Subject_Id"] == 10092259]

Empty DataFrame
Columns: [Subject_Id, Gender, Age, Race, Ethnicity, Vital Status, array_mega, array_meg, array_gsa, array_mega_ex, Affection.Status, fa_had_AD, mo_had_AD, sib_had_AD, rs7412_T, rs429358_C, APOE, EMPI, DOB, Age.1, Vital_Status, APOE_dosage, AD status]
Index: []

[0 rows x 23 columns]

In [79]:
empi[empi["Ethnicity"].isnull()]

,EMPI,Age,Subject_Id,Gender,Race,Ethnicity,Vital_Status,array_mega,array_meg,array_gsa,...,Affection.Status,fa_had_AD,mo_had_AD,sib_had_AD,rs7412_T,rs429358_C,APOE,DOB,APOE_dosage,AD status
1369,100566134,79,10005760,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1910,101272386,70,10092259,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2817,103302871,71,10034165,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2864,103401919,62,10021520,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3083,104131445,70,10065351,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3213,104434122,72,10050297,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3397,104846067,69,10070713,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3632,105444588,68,10089745,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4208,106594083,67,10069115,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4384,106950781,71,10056938,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4489,107158726,64,10030371,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4572,107359494,66,10059420,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5050,110961570,62,10069988,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5263,111505997,70,10032301,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6339,100141139,62,10020838,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6947,100274613,71,10032478,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7157,100344755,71,10010633,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7214,100355466,62,10046475,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8070,100617631,66,10030764,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8490,100855298,64,10040264,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9648,101766574,69,10120458,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9657,101770739,61,10056767,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9882,101959132,70,10076421,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9965,102020367,65,10035586,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10446,102470097,83,10079101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10988,103029314,66,10011881,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10994,103040962,63,10083002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11016,103097401,66,10035331,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11499,103789921,72,10043979,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11822,104297481,68,10096087,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11920,104390508,70,10096300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12270,104772819,69,10049239,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12860,105537030,68,10081824,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13070,105807236,63,10123579,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15039,108951869,64,10038537,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15746,111132607,63,10010470,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15795,111172213,68,10051162,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [289]:
empi[empi["Age"] == 108]

,EMPI,Age,Subject_Id,Gender,Race,Ethnicity,Vital_Status,array_mega,array_meg,array_gsa,...,Affection.Status,fa_had_AD,mo_had_AD,sib_had_AD,rs7412_T,rs429358_C,APOE,DOB,APOE_dosage,AD status
1098,100400407,108,10093574,F,White,Non-Hispanic,Deceased,No,Yes,No,...,0.0,No,No,No,0.0,0.0,e3/e3,NaN,NaN,NaN

In [293]:
# total = pd.read_excel(r"C:\Users\MIND_DS\Dropbox (Partners HealthCare)\NLP\Tanish\BigDataSets\Regex_match\FINAL\apoe_padded_matches.xlsx", sheet_name = 'Sheet1', index_col = False)

In [296]:
total = merged_2

In [297]:
total.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'Unnamed: 0.1.1', 'Unnamed: 0.1.1.1',
       'EMPI', 'MRN', 'PatientID', 'PatientEncounterID', 'ContactDTS',
       'EncounterTypeDSC', 'NoteID', 'InpatientNoteTypeDSC', 'buckets',
       'NoteCSNID', 'LineNBR', 'NoteTXT', 'regex_location', 'regex_sent',
       'regex_match', 'match_count', 'pruned_regex_location',
       'merged_row_location', 'merged_regex_sent', 'merged_regex_match',
       'padded_merged_row_location', 'padded_merged_regex_sent',
       'padded_char_count', 'note_char_count'],
      dtype='object')

In [298]:
total.head()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,EMPI,MRN,PatientID,PatientEncounterID,ContactDTS,EncounterTypeDSC,...,regex_match,match_count,pruned_regex_location,merged_row_location,merged_regex_sent,merged_regex_match,padded_merged_row_location,padded_merged_regex_sent,padded_char_count,note_char_count
0,0,0,0,0.0,100000272,10040002098,Z6352398,3.076070e+09,2015-06-17 00:00:00.0000000,Office Visit,...,['cerebral'],1,"[(100, 109)]","[(5750, 5958)]",------- ncer. She passed secondary to this. He...,[' cerebral'],"(5457, 6251)",ked at HMS in the department of psychobiology ...,794,19217
1,1,1,1,1.0,100000272,10040002098,Z6352398,3.076214e+09,2015-07-16 00:00:00.0000000,Office Visit,...,['memory'],1,"[(100, 107)]","[(3543, 3749)]",------- a. Skin: No rashes or lesions. Neurolo...,[' memory'],"(3248, 4044)",or lymphadenopathy. Chest: Clear to auscultati...,796,5850
2,2,2,14,14.0,100000272,10040002098,Z6352398,3.242118e+09,2019-03-14 00:00:00.0000000,Office Visit,...,['dementia'],1,"[(100, 109)]","[(8641, 8849)]","------- ractures, obesity, insulin resistance,...",[' dementia'],"(8345, 9145)",ession alone in the meta-analysis. We discusse...,800,13298
3,3,3,15,15.0,100000272,10040002098,Z6352398,3.322836e+09,2020-12-04 00:00:00.0000000,Telemedicine - audio only,...,['MOCA'],1,"[(100, 105)]","[(948, 1152), (4778, 4987), (5004, 5331)]",------- accept for this week when he ran out ...,"[' moca', ' cognition', ' memory']","[(930, 1152), (4778, 4987), (5004, 5349)]",------- ing tylenol really accept for this we...,803,8711
4,4,4,20,20.0,100000272,10040002098,Z6352398,3.325561e+09,2020-09-18 00:00:00.0000000,Telemedicine - audio only,...,['cognition'],1,"[(100, 110)]","[(5367, 5576), (5593, 5812)]",------- ue Tylenol 1g q8 as needed - If pain w...,"[' cognition', ' memory']","[(5188, 5576), (5593, 5991)]",------- in is related to cancer. Reassuringly...,804,9145

In [6]:
# total.to_csv(r"C:\Users\MIND_DS\Dropbox (Partners HealthCare)\NLP\Tanish\BigDataSets\Regex_match\FINAL\apoe_padded_matches_EVERYTHING.csv")

In [7]:
total = pd.read_csv(r"C:\Users\MIND_DS\Dropbox (Partners HealthCare)\NLP\Tanish\BigDataSets\Regex_match\FINAL\apoe_padded_matches_EVERYTHING.csv")

In [8]:
total["APOE"].value_counts()

KeyError: 'APOE'

## Pulling Sequences that have suspicious high # of keywords (cerebral, cerebellar, cerebrovascular, etc.)

In [ ]:
pattern_c = re.compile(r'\bcerebellar\b', re.IGNORECASE)
c_matches = []
for note in tqdm(merged["padded_merged_regex_sent"]):
    try:
        m = list(set(re.findall(pattern_c, note)))
        m = list(set(m))
        c_matches.append(str(m))
    except:
        c_matches.append([])
merged["contains_cerebellar"] = c_matches

In [ ]:
pattern_c2 = re.compile(r'(?i:)\bcerebral\b', re.IGNORECASE)
c2_matches = []
for note in tqdm(merged["padded_merged_regex_sent"]):
    try:
        m = list(set(re.findall(pattern_c2, note)))
        m = list(set(m))
        c2_matches.append(str(m))
    except:
        c2_matches.append([])
merged["contains_cerebral"] = c2_matches

In [ ]:
pattern_c3 = re.compile(r'\bcerebrovascular\b', re.IGNORECASE)
c3_matches = []
for note in tqdm(merged["padded_merged_regex_sent"]):
    try:
        m = list(set(re.findall(pattern_c3, note)))
        m = list(set(m))
        c3_matches.append(str(m))
    except:
        c3_matches.append([])
merged["contains_cerebrovascular"] = c3_matches

In [ ]:
merged.head()

In [ ]:
c_matches = merged[merged["contains_cerebellar"] != "[]"]

In [ ]:
c2_matches = merged[merged["contains_cerebral"] != "[]"]

In [ ]:
c3_matches = merged[merged["contains_cerebrovascular"] != "[]"]

In [ ]:
c_matches = c_matches[:500]
c_matches.to_csv(r"C:\Users\MIND_DS\Dropbox (Partners HealthCare)\NLP\Tanish\BigDataSets\Regex_match\cerebellar_match_snippet.csv", index = False)

In [ ]:
c2_matches = c2_matches[:500]
c2_matches.to_excel(r"C:\Users\MIND_DS\Dropbox (Partners HealthCare)\NLP\Tanish\BigDataSets\Regex_match\cerebral_match_snippet.xlsx", index = False)

In [ ]:
c3_matches = c3_matches[:500]
c3_matches.to_excel(r"C:\Users\MIND_DS\Dropbox (Partners HealthCare)\NLP\Tanish\BigDataSets\Regex_match\cerebrovascular_match_snippet.xlsx", index = False)

## Regex Pattern Tests

In [ ]:
string = '-------  status post R CHOP, currently in remission. TECHNIQUE: Radiopharmaceutical: Tc-99m MDP. Dose: 27.5 mCi. Image acquisition: Approximately three hours following the intravenous administration of'
pattern = re.compile(r'(?-i:)\bMCI\b|(?-i:)\bmci\b')

for match in re.finditer((pattern) , string):
    s = match.start()
    e = match.end()
    print ('String match "%s" at %d:%d' % (string[s:e], s, e))

In [ ]:
string2 = "------- ly normal coordination and gait. Psych: Alert and oriented for age, normal mood, affect, speech and coGniTioN. See care plans and review of systems above for further history details. See associated Encounter"
pattern2 = re.compile(r'(?i)\bcognition\b')

for match in re.finditer((pattern2) , string2):
    s = match.start()
    e = match.end()
    print ('String match "%s" at %d:%d' % (string2[s:e], s, e))